<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>NoLine.io</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/cover.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

  <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

  <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"></h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="http://162.243.8.249:5000/">Home</a></li>
                  <li><a href="http://162.243.8.249:5000/">Partner</a><li>
                  <li><a href="http://162.243.8.249:5000/">About</a></li>
                  <li><a href="http://162.243.8.249:5000/">Login</a></li>
                </ul>
              </nav>
            </div>
          </div>
    <div class="row">
  <h1>Order</h1>
  <p>You're ordering the {{ item }} for a total of {{ amount }}.</p>
        </div>

            <div class="row" style="margin-top: 350px;">
  	<div class="form" align="center">
  		<form id="checkout" method="post" action="/checkout/">
  			<div id="payment-form"></div>
            <input type="hidden" value="{{ amount }}" name="amount"/>
  			<input type="submit" class="btn btn-primary btn-lg" value="Submit Payment"/>
		</form>
  	</div>
                </div>
            </div>
          </div>
      </div>
  	


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://js.braintreegateway.com/v2/braintree.js"></script>
   <script type="text/javascript">
   var clientToken = "{{ clienttoken }}";

   		braintree.setup(clientToken, "dropin", {
  		container: "payment-form",
        amount: "{{ amount }}"
		});
	</script>
  </body>
</html>